
a {
  text-decoration: none;
  cursor: pointer;
}

img { max-width: 100%; }

.mdl-layout__header {
  position: relative;
  display: block;
}

.mdl-layout__header-title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  pointer-events: none;
}

.mdl-layout__header-title h1 {
  pointer-events: all;
}

.mdl-layout__header--transparent {
  background: url('https://unsplash.it/2800/1200') center / cover;
  min-height: 40%;
}

.mdl-button--fab {
  position: absolute;
  bottom: -25px;
  right: 10%;
}

.mdl-layout__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mdl-layout__header, .mdl-layout__drawer-button {
  color: white;
  text-shadow: 1px 1px 0.5px black;
}

.mdl-card__wrapper {
  flex-basis: 33.33333%;
  box-sizing: border-box;
  padding: 10px;
}

.mdl-dialog__actions {
  justify-content: space-between;
  padding: 8px;
  min-height: 36px;
}

@media (max-width: 550px) {
  .mdl-card__wrapper { flex-basis: 50%; }
}

@media (min-width: 1100px) {
  .mdl-card__wrapper { flex-basis: 25%; }
}

.mdl-card__wrapper:nth-child(6n) .mdl-card__title {
  background: url('images/1.jpeg') center / cover;
}

.mdl-card__wrapper:nth-child(6n+1) .mdl-card__title {
  background: url('images/2.jpeg') center / cover;
}

.mdl-card__wrapper:nth-child(6n+2) .mdl-card__title {
  background: url('images/3.jpeg') center / cover;
}

.mdl-card__wrapper:nth-child(6n+3) .mdl-card__title {
  background: url('images/4.jpeg') center / cover;
}

.mdl-card__wrapper:nth-child(6n+4) .mdl-card__title {
  background: url('images/5.jpeg') center / cover;
}

.mdl-card__wrapper:nth-child(6n+5) .mdl-card__title {
  background: url('images/6.jpeg') center / cover;
}

.mdl-card {
  height: 320px;
  width: auto;
}

.mdl-card__title {
  color: #fff;
  text-shadow: 1px 1px 0.5px black;
}

.mdl-dialog__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.mdl-dialog {
  transition: 0.5s all;
  transition-timing-function: cubic-bezier(1.0, 1.0, 0.9, 0.7, 0.0);
  opacity: 0;
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
  box-shadow: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.mdl-dialog__title {
  white-space: nowrap;
  padding: 8px 24px;
}

.mdl-dialog__content {
  flex-grow: 1;
  overflow: auto;
}

.mdl-dialog.open {
  opacity: 1;
  min-width: 80%;
  max-width: 80%;
  min-height: 80%;
  max-height: 80%;
  overflow: hidden;
  pointer-events: all;
}
